*{
  margin: 0;
  padding: 3px;
}

h3{
  text-align: center;
  text-decoration: underline;
  color: white;
}

#name{
 width: 80%;
  padding: 3px;
  margin: 10px;
  border-radius: 5%;
  outline: 0;
  border: 1px solid lightgray;
}
body{
  background-color: rgb(4, 29, 49);
}

table{
  margin-left: 500px;
  padding-top: 30px;
  background-color:  #4CA66B;
  border-collapse: collapse;
  font-size: 20px;
  font-family: bold;
  border: 5px solid white;
  text-align: -webkit-center;
}
